.body-container {
  background-color: white !important;
}

/* .back-color {
  /* background-color: #5cdb95; */
/* }  */

.title-icon {
  font-family: 'Rock 3D', cursive;
  font-size: 20px;
  color: #ff6433;
}
