.body-container {
  background-color: white !important;
}

.table-content {
  padding: 25px;
}

.title-icon {
  font-family: 'Rock 3D', cursive;
  font-size: 20px;
  color: #ff6433;
}

th {
  word-wrap: break-word;
  width: 610px;
  padding: 5px 18px;
}

td {
  word-wrap: break-word;
  width: 610px;
  padding: 5px 10px;
}

.last-th {
  word-wrap: break-word;
  width: 100px;
  padding: 5px 10px;
}

.last1-th {
  word-wrap: break-word;
  width: 500px;
  padding: 5px 18px;
}

.click1-td {
  width: 500px;
  padding: 5px 10px;
}

.click-td {
  word-wrap: break-word;
  width: 100px;
  padding: 5px 12px;
}

.login-button {
  border: none;
  border-radius: 3px;
  color: white;
  background-color: #007bff;
  padding: 8px 30px;
  margin-left: 120px;
  font-size: 18px;
}

.logout-button {
  border: none;
  border-radius: 3px;
  color: white;
  background-color: #6c757d;
  padding: 8px 20px;
  font-size: 18px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .table-content {
    font-size: 8px;
    padding: 10px;
  }

  th {
    word-wrap: break-word;
    width: 150px;
    padding: 2px 4px;
    text-align: start;
  }

  td {
    word-wrap: break-word;
    width: 140px;
    padding: 2px 4px;
  }

  .last-th {
    word-wrap: break-word;
    width: 50px;
    padding: 5px 12px;
  }

  .last1-th {
    word-wrap: break-word;
    width: 120px;
    padding: 2px 6px;
  }

  .click1-td {
    width: 100px;
    padding: 2px 4px;
  }

  .click-td {
    padding-top: 13px;
    padding-left: 45px;
    width: 50px;
  }

  .title-heading {
    font-size: 15px;
  }

  .title-heading1 {
    font-size: 20px;
  }

  .title-icon {
    font-family: 'Rock 3D', cursive;
    font-size: 15px;
    color: #ff6433;
  }

  .login-button {
    border: none;
    border-radius: 3px;
    color: white;
    background-color: #007bff;
    padding: 8px 25px;
    margin-left: 120px;
    font-size: 13px;
  }

  .input-field {
    width: 300px;
    margin-left: 40px;
  }

  .logout-button {
    border: none;
    border-radius: 3px;
    color: white;
    background-color: #6c757d;
    padding: 8px 15px;
    font-size: 13px;
  }
}
